<meta charset="utf-8">
<meta name="theme-color" content="#ffffff">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<meta name="theme-color" content="#ffffff">

<link rel="stylesheet" href="/style.css?v=2022-02-11-02">

<link rel="alternate" type="application/rss+xml" href="/feed.rss">
<link rel="alternate" type="application/feed+json" href="/feed.json">
<link rel="alternate" type="application/rss+xml" href="/yapyap.xml" title="YapYap">

<link rel="icon" href="/assets/general/favicon.png?v=2021-12-07-1" type="image/png">
