<div class="navigation">
  <header class="wrapper">
    <h3 class="home">
      <a href="/" itemprop="url">Mitja Felicijan</a>
    </h3>

    <nav itemscope itemtype="http://schema.org/SiteNavigationElement" class="main-navigation">
      <meta itemprop="name" content="Main Menu">

      <a href="/curriculum-vitae.html">CV</a>
      <a href="https://github.com/mitjafelicijan" target="_blank" rel="noopener nofollow" itemprop="url">Github</a>
      <a href="/feed.rss" itemprop="url">RSS feed</a>
    </nav>
  </header>
</div>