<div class="navigation">
  <header class="wrapper">
    <h3 class="home">
      <a href="/" itemprop="url">Mitja Felicijan</a>
    </h3>

    <nav itemscope itemtype="http://schema.org/SiteNavigationElement" class="main-navigation">
      <meta itemprop="name" content="Main Menu">

      <!-- <a href="/yapyap.xml" itemprop="url">YapYap</a> -->

      <a href="https://git.sr.ht/~mitjafelicijan" target="_blank" rel="noopener nofollow" itemprop="url">Sourcehut</a>
      <a href="https://github.com/mitjafelicijan" target="_blank" rel="noopener nofollow" itemprop="url">Github</a>
      <a href="/curriculum-vitae.html">CV</a>

      <!-- <a href="https://feedbin.com/starred/28977384dcc292a0a400e36cd9bcf64e.xml" itemprop="url">Starred</a> -->
      <a href="/feed.rss" itemprop="url">RSS</a>
    </nav>
  </header>
</div>
