<!doctype html>
<html lang="en">

  <head>
    {{template "_meta.html"}}

    <title>{{.Title}}</title>
    <meta name="description" content="{{.Description}}">
    <meta property="og:title" content="{{.Title}}">
    <meta property="og:description" content="{{.Description}}">
  </head>

  <body>

    {{template "_navigation.html"}}

    <main class="wrapper">
      <h2>Blog posts</h2>
      <nav itemscope itemtype="https://schema.org/SiteNavigationElement">
        <meta itemprop="name" content="Article list">

        <ul class="post-list">
          {{range $index, $post := .Posts}}
          {{if $post.Listing}}
          <li>
            <time>{{.CreatedFormatted}}</time>

            <a href="/{{$post.Slug}}" title="{{$post.Title}}" itemprop="url">
              <h2>{{$post.Title}}</h2>
            </a>
          </li>
          {{end}}
          {{end}}
        </ul>
      </nav>

      <hr class="top-margin">

      <section class="project-list">
        <h4>Side projects I work on</h4>
        <ul>
          <li><a href="https://github.com/mitjafelicijan/journalctl-proxy" target="_blank" rel="noopener nofollow">journalctl-proxy - Exposes your systemd logs to web via web interface</a></li>
          <li><a href="https://github.com/mitjafelicijan/redis-marshal" target="_blank" rel="noopener nofollow">redis-marshal - Lightweight Redis data exploration tool</a></li>
          <li><a href="https://github.com/mitjafelicijan/dna-encoding" target="_blank" rel="noopener nofollow">dna-encoding - Tools for encoding files to DNA sequence</a></li>
          <li><a href="https://github.com/mitjafelicijan/unfold" target="_blank" rel="noopener nofollow">unfold - Elastic Beanstalk like deployments for DigitalOcean</a></li>
          <li><a href="https://github.com/mitjafelicijan/vertex" target="_blank" rel="noopener nofollow">vertex - Create mock API's and enrich them with some basic logic and simplify prototyping</a></li>
          <li><a href="https://github.com/mitjafelicijan/spartan" target="_blank" rel="noopener nofollow">spartan - Spartan minimal UI kit for your applications</a></li>
          <li><a href="https://github.com/mitjafelicijan/scarecrow" target="_blank" rel="noopener nofollow">scarecrow - Minimal configuration reverse proxy</a></li>
        </ul>
      </section>

      <hr class="top-margin">

      {{template "openring-build.html"}}

    </main>

    {{template "_footer.html"}}

  </body>

</html>
