/*@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');*/

:root {
  --base-document-width: 640px;
  --base-font-size: 16px;
  --base-line-heigh: 1.6em;
  --base-color: #111111;

  --link-color: #111111;
  --link-color-hover: #111111;

  --label-color: #222222;

  --border-color: #eeeeee;

  --badge-background-color: #eeeeee;
  --badge-label-color: #111111;

  --code-font-size: 13px;

  --comment-form-font: 16px 'Times New Roman', Times, serif;
}

* {
  box-sizing: border-box;
}

body {
  background: white;
  /*font-family: 'Times New Roman', Times, serif;*/
  /*font-family: 'IBM Plex Sans', sans-serif;*/
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: var(--base-color);
  font-size: var(--base-font-size);
  line-height: var(--base-line-heigh);
  padding: 0;
  margin: 0;
  padding-bottom: 100px;
}

hr {
  border: 0;
  border-top: 5px solid #f7f7f7;
}


::selection {
  background: rgb(255, 241, 177);
  color: #000;
}

::-moz-selection {
  background: rgb(255, 241, 177);
  color: #000;
}

.cursor {
  cursor: pointer;
}

/* width of the page */

.wrapper {
  max-width: var(--base-document-width);
  margin: 0 auto;
}

/* links */

a {
  color: black;
}

a:hover {
  background: rgb(255, 241, 177);
}


/* headings */

h1 {
  font-size: 220%;
  line-height: 1.2em;
}

h2 {
  font-size: 180%;
  line-height: 1.2em;
}

h3 {
  font-size: 160%;
  line-height: 1.2em;
}

h4 {
  font-size: 140%;
  line-height: 1.2em;
}

h5 {
  font-size: 120%;
  line-height: 1.2em;
}

h6 {
  font-size: 100%;
  line-height: 1.2em;
}

h1[itemtype="headline"] {
  padding-bottom: 0;
  margin-bottom: 20px;
  font-size: 230%;
  line-height: 1.2em;
  font-weight: 800;
}

/* tables */

table {
  width: 100%;
}

table,
th,
td {
  border: 1px solid black;
  text-align: left;
}

th,
td {
  padding: 5px 10px;
}


/* quotes */

blockquote {
  position: relative;
  margin-block-start: 30px;
  margin-block-end: 30px;
  margin-right: 0;
}

blockquote:before {
  content: ' ';
  background-image: url('/assets/general/alert-light.svg');
  background-size: 30px 30px;
  height: 30px;
  width: 30px;
  position: absolute;
  left: -40px;
  top: 6px;
}

blockquote p {
  padding-left: 10px;
}


/* header navigation */

.navigation {
  margin-block-start: 10px;
  margin-block-end: 30px;
}

.navigation header {
  display: flex;
  align-items: center;
}

.navigation header a {
  text-decoration: none;
}

.navigation header a:hover {
  text-decoration: underline;
}

.navigation header .home {
  font-size: 130%;
  font-weight: 700;
}

.navigation header .home a {
  color: var(--base-color);
}

.navigation header .home a:hover {
  text-decoration: none;
}

.navigation header nav {
  flex-grow: 1;
  text-align: right;
}

.navigation header nav a {
  padding: 0 10px;
  font-size: 100%;
  font-weight: 500;
}

/* index post list */

.post-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.post-list li {
  margin: 0 0 15px 0;
}

.post-list li time {
  display: block;
  font-size: 80%;
  font-weight: 500;
  line-height: 1.2em;
  color: #a7a7a7;
}

.post-list li a {
  display: inline-block;
  text-decoration: none;
}

.post-list li a:hover {}

.post-list li a h2 {
  font-weight: 400;
  font-size: 100%;
  margin: 0;
}


/* project list */

.project-list {
  margin-top: 60px;
}

.project-list a {}

.project-list li {
  list-style-type: disclosure-closed;
  padding-left: 10px;
}


/* webring */

.webring a {
  font-weight: 500;
}


/* tag badges */

.tags {
  margin-top: 5px;
}

.tags a {
  font-size: 80%;
  padding: 2px 10px;
  border-radius: 20px;

  background: var(--badge-background-color);
  color: var(--badge-label-color) !important;
}

.tags a:hover {
  filter: brightness(90%);
}


/* helpers */

.top-margin {
  margin-top: 60px;
}

.top-margin-huge {
  margin-top: 100px;
}

code {
  font-family: monospace;
  background: rgb(255, 241, 177);
  border-radius: 5px;
  padding: 2px 8px;
  font-size: var(--code-font-size);
  font-weight: 500;
}

pre>code {
  background: unset;
  padding: unset;

  padding: 15px 20px !important;
  border-radius: 5px !important;
  font-weight: 400;
}

pre {
  font-size: var(--code-font-size);
  line-height: 1.5em;

  margin-block-start: 40px;
  margin-block-end: 40px;
}

img,
video {
  max-width: 100%;
  margin: 30px auto;
  display: block;
  border-radius: 5px;
}

video {
  background: var(--badge-background-color);
}

time {
  color: var(--label-color);
  font-size: 90%;
}

/* article */

article a {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

article img {
  max-width: 120%;
  width: 120%;
  position: relative;
  left: -10%;
  margin: 40px auto;
  /* border: 1px solid #eee; */
}

article strong {
  font-weight: 600;
}

article ol {
  padding-inline-start: 30px;
}

article .katex-display {
  margin: 3em 0 !important;
}

/* audio */

audio {
  width: 100%;
  outline: none;
}


/* footer */

.footer {
  margin-top: 70px;
  padding-top: 20px;
  padding-bottom: 50px;
  font-size: 90%;
  color: #888;
}

.footer a {
  color: #666;
}

/* comments */

.comments input {
  width: 100%;
  font: var(--comment-form-font);
  border: 1px solid #bbb;
  padding: 5px;
}

.comments textarea {
  width: 100%;
  height: 100px;
  resize: vertical;
  font: var(--comment-form-font);
  border: 1px solid #bbb;
  padding: 5px;
}

.comments ul {
  list-style-type: none;
  padding: 0;
  margin-top: 30px;
}

.comments hr {
  border: initial !important;
  border-top: initial !important;
}

/* search form */

.search-form {
  position: fixed;
  top: 120px;
  left: 50%;
  margin-left: -250px;
  width: 500px;
  padding: 30px;
  background: #eee;
  border-radius: 5px;
}

.blur {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(15px);
}

.hidden {
  display: none;
}

.search-form input {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ffffff;
  padding: 5px 10px;
  border-radius: 3px;
  outline: none;
}

.search-form ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.search-form ul li {
  margin-bottom: 5px;
}

/* responsive */

@media only screen and (max-width: 960px) {
  main {
    padding: 0 20px;
  }

  footer {
    padding: 0 20px;
  }

  h1[itemtype="headline"] {
    font-size: 220%;
  }

  .navigation header {
    padding: 0 20px;
  }

  article img {
    max-width: 100%;
    position: initial;
    margin: 20px auto;
  }
}

@media only screen and (max-width: 600px) {
  .navigation header {
    display: block;
  }

  .navigation header h3 {
    text-align: center;
    margin-bottom: 10px;
  }

  .navigation header nav {
    text-align: center;
  }

  .post-list li a h2 {
    font-weight: 500;
  }

  .search-trigger {
    display: none;
  }
}

/* light/dark mode */

/*@media (prefers-color-scheme: light) { }

@media (prefers-color-scheme: dark) {
  body {
    background: #222;
    color: #fff;
  }

  time {
    color: #fff;
  }

  a {
    color: #fff !important;
  }

  code {
    color: #222 !important;
  }

  blockquote:before {
    background-image: url('/assets/general/alert-dark.svg');
  }
}*/
