{{ define "main" }}
<main role="main" class="container-blog mx-auto px-6 md:p-0">

  <h1 class="text-2xl font-bold mb-6">Blog posts</h1>

  <!-- List of all blog posts -->
  <nav itemscope itemtype="https://schema.org/SiteNavigationElement" class="mb-12" role="feed">
    <meta itemprop="name" content="Article list">
    {{ range (where .Site.RegularPages "Section" "posts") }}
    <div>
      <article class="mb-5" itemscope itemtype="http://schema.org/Article">
        <time class="block text-gray-400 font-medium text-xs">{{ .Date.Format "Monday Jan 2, 2006" }}</time>
        <a href="/{{ .Params.url }}" itemprop="url" class="hover:bg-yellow-100" rel="bookmark noopener" aria-label="Opens URL">
          {{ if .Params.draft }}
          <span class="bg-orange-600 text-white px-1.5">Draft</span>
          {{ end }}
          {{.Title}}
        </a>
      </article>
    </div>
    {{ end }}
  </nav>

  <hr class="border-2 border-gray-100 mb-10">

  <!-- Projects I work on -->
  {{ partial "side-projects.html" . }}

  <hr class="border-2 border-gray-100 mb-10">

  <!-- Openring -->
  {{ partial "openring.html" . }}

</main>
{{ end }}
