{{ define "main" }}
<main role="main" class="container-blog mx-auto px-6 md:p-0">

  <section class="mb-6">
    <h1 class="text-2xl font-bold mb-2">Notes, notes and notes</h1>
    <p class="text-gray-600 italic">
      Notes about things I learn, things I do, things I want to remember,
      but never do. You can subscribe to this
      <a href="/notes.xml" class="underline hover:bg-yellow-100">RSS feed</a>
      which contains only the notes without the blog posts.
    </p>
  </section>

  <hr class="border-2 border-gray-100 mb-12">

  <!-- List of all notes -->
  <nav itemscope itemtype="https://schema.org/SiteNavigationElement" class="mb-12" role="feed">
    <meta itemprop="name" content="Article list">
    <section>
      {{ range (where .Site.RegularPages "Section" "notes") }}
      <div class="mb-10">
        <article class="mb-5 single note" itemscope itemtype="http://schema.org/Article">
          <h2 class="text-xl font-medium notes-heading">{{.Title}}</h2>
          <p class="text-gray-600 _italic text-sm flex flex-col md:flex-row gap-1">
            <time datetime="{{ .Date.Format "2006-01-02" }}" itemprop="datePublished">
              {{ .Date.Format "Monday Jan 2, 2006" }}
            </time>

            {{ if .Params.tags }}
            <span class="hidden md:inline-block">
              <span>with tags</span>
              <span class="inline-flex flex-row gap-1">
                <span>(</span>
                {{ range .Params.tags }}
                  <span>{{ . }}</span>
                {{ end }}
                <span>)</span>
              </span>
            </span>
            {{ end }}
          <div class="content">
            {{ .Content | safeHTML }}
          </div>
        </article>
      </div>
      {{ end }}
    </section>
  </nav>

</main>
{{ end }}
