---
layout: index
---

<p>You do not learn by relaxing. You learn by violently assaulting your problem
until it surrenders its mysteries to you.</p>

<a style="max-width:650px;display:inline-block;background:blue;color:white;padding:1em;" href="https://mitjafelicijan.github.io/binary-visualization/" target="_blank">
  <strong>Latest experiment:</strong> Examine graphical representations of
  binary files using diagrams that illustrate connections between pairs of bytes
  (digraphs) and triplets of bytes (trigraphs).
</a>

<h2>More long form, ramblings etc</h2>
<ul itemscope itemtype="https://schema.org/SiteNavigationElement" role="list" aria-label="Articles" class="list">
  <meta itemprop="name" content="Article list">
  {% for post in site.posts %}
  {% if post.type == "post" %}
	<li>
    <a href="{{ post.url }}">{{ post.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>

<h2>Notes?! Maybe useful</h2>
<ul itemscope itemtype="https://schema.org/SiteNavigationElement" role="list" aria-label="Notes" class="list">
  <meta itemprop="name" content="Note list">
  {% for post in site.posts %}
  {% if post.type == "note" %}
	<li>
    <a href="{{ post.url }}">{{ post.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>

<h2>Small side projects I work/worked on</h2>
<ul itemscope itemtype="https://schema.org/SiteNavigationElement" role="list" aria-label="Side projects" class="list">
  <meta itemprop="name" content="Side projects">
  <li role="listitem"><a href="https://github.com/mitjafelicijan/binary-visualization" target="_blank">binary-visualization </a> — Visualizations and exploration of binary files</li>
  <li role="listitem"><a href="https://github.com/mitjafelicijan/p9tree" target="_blank">p9tree</a> — Tree utility for 9front/Plan9 operating systems</li>
  <li role="listitem"><a href="https://github.com/mitjafelicijan/errand" target="_blank">errand</a> — Task runner for the command line</li>
  <li role="listitem"><a href="https://github.com/mitjafelicijan/i3blocks" target="_blank">i3blocks</a> — Minimal i3blocks indicators</li>
  <li role="listitem"><a href="https://github.com/mitjafelicijan/cord.h" target="_blank">cord.h</a> — Small C library for handling strings</li>
  <li role="listitem"><a href="https://github.com/mitjafelicijan/mprogress" target="_blank">mprogress</a> — Tiny utility that displays progress bar in terminal</li>
  <li role="listitem"><a href="https://github.com/mitjafelicijan/qli" target="_blank">qli</a> — Quantum Lorem Ipsum generator for command line</li>
  <li role="listitem"><a href="https://github.com/mitjafelicijan/mod-tinycache" target="_blank">mod-tinycache</a> — Apache 2 caching module</li>
  <li role="listitem"><a href="https://github.com/mitjafelicijan/journalctl-proxy" target="_blank">journalctl-proxy</a> — Exposes your systemd logs to web via web interface</li>
  <li role="listitem"><a href="https://github.com/mitjafelicijan/redis-marshal" target="_blank">redis-marshal</a> — Lightweight Redis UI tool</li>
  <li role="listitem"><a href="https://github.com/mitjafelicijan/vertex" target="_blank">vertex</a> — Create mock API's and add basic logic to simplify prototyping</li>
  <li role="listitem"><a href="https://github.com/mitjafelicijan/dna-encoding" target="_blank">dna-encoding</a> — Tools for encoding files to DNA sequences</li>
  <li role="listitem"><a href="https://github.com/mitjafelicijan/scarecrow" target="_blank">scarecrow</a> — Minimal configuration reverse proxy</li>
</ul>
