<ul class="project-list">
  <li><a href="https://github.com/mitjafelicijan/redis-marshal" target="_blank" rel="noopener nofollow">redis-marshal - Lightweight Redis data exploration tool</a></li>
  <li><a href="https://github.com/mitjafelicijan/dna-encoding" target="_blank" rel="noopener nofollow">dna-encoding - Tools for encoding files to DNA sequence</a></li>
  <li><a href="https://github.com/mitjafelicijan/unfold" target="_blank" rel="noopener nofollow">unfold - Elastic Beanstalk like deployments for DigitalOcean</a></li>
  <li><a href="https://github.com/mitjafelicijan/vertex" target="_blank" rel="noopener nofollow">vertex - Create mock API's and enrich them with some basic logic and simplify prototyping</a></li>
  <li><a href="https://github.com/mitjafelicijan/spartan" target="_blank" rel="noopener nofollow">spartan - Spartan minimal UI kit for your applications</a></li>
  <li><a href="https://github.com/mitjafelicijan/scarecrow" target="_blank" rel="noopener nofollow">scarecrow - Minimal configuration reverse proxy</a></li>
</ul>
