<footer>
  <span>© 2010-{{ currentYear }}</span>
  <a href="/curriculum-vitae">Curriculum Vitae</a>
  <a href="//github.com/mitjafelicijan" target="_blank" rel="noopener nofollow">Github</a>
  <a href="//twitter.com/mitjafelicijan" target="_blank" rel="noopener nofollow">Twitter</a>
</footer>

<!-- MathJax -->
<script type="text/x-mathjax-config">
  MathJax
    .Hub
    .Config({
      TeX: {
        equationNumbers: {
          autoNumber: "AMS"
        }
      },
      tex2jax: {
        inlineMath: [
          [
            '$', '$'
          ],
          [
            '\\(', '\\)'
          ]
        ],
        displayMath: [
          ['$$', '$$']
        ],
        processEscapes: true
      }
    });
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-12769079-10"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());

  gtag('config', 'UA-12769079-10');
</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML" async="async"></script>
