<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#ffffff">

    <meta name="google-site-verification" content="EwUGW1WlCkRIQuyQ9AE1-bLitWthw-eVMZFTAMZVZaA">

    <link rel="icon" type="image/png" href="{{ vars.domain }}/files/avatar-64x64.png?ver={{ timestamp }}">

    <title>{{ vars.title }}</title>
    <meta name="author" content="{{ vars.author }}">
    <meta name="description" content="{{ vars.description }}">

    <meta name="og:url" content="{{ vars.domain }}">
    <meta name="og:type" content="website">
    <meta name="og:title" content="{{ vars.title }}">
    <meta name="og:description" content="{{ vars.description }}">
    <meta name="og:image" content="{{ vars.domain }}/files/avatar-512x512.png?ver={{ timestamp }}">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@mitjafelicijan">
    <meta name="twitter:title" content="{{ vars.title }}">
    <meta name="twitter:description" content="{{ vars.description }}">
    <meta name="twitter:image" content="{{ vars.domain }}/files/avatar-512x512.png?ver={{ timestamp }}">

    {{ css }}

  </head>

  <body>

    <main class="wrapper">

      {% include "navigation.njk" %}

      <div class="list">

        <h3>Research</h3>
        <nav class="article-list">
          {% for post in posts %}
            {% if post.type == "research" %}
              <article>
                <a href="/{{ post.slug }}" aria-label="Read more about {{ post.title }}">
                  <time pubdate="{{ post.dateOriginal }}" class="pubdate">{{ post.dateFormatted }}</time>
                  <h2>{{ post.title }}</h2>
                </a>
              </article>
            {% endif %}
          {% endfor %}
        </nav>

        <h3>General</h3>
        <nav class="article-list">
          {% for post in posts %}
            {% if post.type != "research" %}
              <article itemtype="http://schema.org/Article">
                <a href="/{{ post.slug }}" aria-label="Read more about {{ post.title }}" itemprop="url" rel="bookmark">
                  <time pubdate="{{ post.dateOriginal }}" class="pubdate">{{ post.dateFormatted }}</time>
                  <h2>{{ post.title }}</h2>
                </a>
              </article>
            {% endif %}
          {% endfor %}
        </nav>

      </div>

      {{ javascript }}

      {% include "footer.njk" %}

    </main>

  </body>

</html>
