<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#ffffff">

  <meta name="google-site-verification" content="EwUGW1WlCkRIQuyQ9AE1-bLitWthw-eVMZFTAMZVZaA">

  <title>{{ title }}</title>
  <meta name="author" content="{{ vars.author }}">
  <meta name="description" content="{{ description }}">

  <meta name="og:url" content="{{ vars.domain }}/{{ slug }}">
  <meta name="og:type" content="website">
  <meta name="og:title" content="{{ title }}">
  <meta name="og:description" content="{{ description }}">
  <meta name="og:image" content="{{ vars.domain }}/assets/avatar.gif?ver={{ timestamp }}">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@mitjafelicijan">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ description }}">
  <meta name="twitter:image" content="{{ vars.domain }}/assets/avatar.gif?ver={{ timestamp }}">

  {{ css }}

</head>

<body>

  <main class="wrapper">

    {% include "navigation.njk" %}

    <article>

      <header>
        <h1>{{ title }}</h1>
        <p class="pubdate">Published on
          <time pubdate="{{ writtenDate.original }}">{{ writtenDate.formatted }}</time>
          by {{ vars.author }}</p>
      </header>

      {{ content|safe }}

    </article>

    {{ javascript }}

    {% include "footer.njk" %}

  </main>

</body>

</html>
