<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-12769079-10"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', 'UA-12769079-10');
</script>

<!-- Responsive tables -->
<script>
	document.querySelectorAll('table').forEach(function(element) {
		if (!element.classList.contains('rouge-table')) {
			let parent = element.parentNode;
			let wrapper = document.createElement('div');
			wrapper.classList.add('responsive-table');
			parent.replaceChild(wrapper, element);
			wrapper.appendChild(element);
		}
	});
</script>

<!-- Open external links in new tab -->
<script>
	let links = document.links;
	for (let i = 0, linksLength = links.length; i < linksLength; i++) {
		if (links[i].hostname != window.location.hostname) {
			links[i].target = '_blank';
		}
	}
</script>

<!-- Linked data - Social profile -->
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "Person",
	"name": "Mitja Felicijan",
	"jobTitle": "Embedded systems developer",
	"url": "http://mitjafelicijan.com",
	"sameAs": [
		"https://github.com/mitjafelicijan",
		"https://twitter.com/mitjafelicijan",
		"https://plus.google.com/+MitjaFelicijan"
	]
}
</script>
