* {
	box-sizing: border-box
}

body {
	font-family: 'Times New Roman', Times, serif;
	font-size: 16px;
	margin: 40px auto;
	line-height: 1.6;
	color: #000;
	margin: 0;
	padding: 0 0 50px 0;
}

article,
main,
footer,
nav,
header {
	max-width: 700px;
	margin: 0 auto;
}
