@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&subset=latin-ext");

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', 'Times New Roman', Times, serif;
	font-size: 18px;
	line-height: 1.8;
	color: #000;
	margin: 0;
	padding: 0 0 50px 0;
}

a {
	color: #000;
	text-decoration: none;
}

article,
main,
footer,
nav,
header {
	max-width: 850px;
	margin: 0 auto;
}

header {
	margin-top: 30px;
}

header a,
nav ul li a {
	text-decoration: none;
}

header a {
	font-size: 150%;
	font-weight: 700;
	color: #000;
}

nav ul {
	margin-top: 10px;
	padding: 0;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	color: #444;
	font-size: 85%;
	margin-right: 10px;
}

h1 {
	font-size: 260%;
	line-height: 150%;
}

h2 {
	font-size: 160%;
}

h3 {
	font-size: 140%;
}

h4 {
	font-size: 120%;
}

article img {
	max-width: 100%;
	display: block;
}

time {
	display: block;
	font-size: 85%;
	color: #444;
}

ul {
	list-style-type: square;
}

main ul {
	margin-top: 30px;
	padding: 0 20px;
}

main ul li {
	margin-bottom: 20px;
}

main ul li a {
	font-size: 100%;
	font-weight: 500;
}

main ul div {
	font-size: 116%;
}

blockquote {
	margin: 40px 0 40px 20px;
	border-left: 5px solid #eee;
	padding: 5px 0 10px 20px;
}

table {
	border: 2px solid #f1f1f1;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

table th,
table td {
	border: 2px solid #f1f1f1;
	text-align: left;
	padding: 5px 10px;
}

summary {
	outline: none;
	cursor: pointer;
	font-weight: 600;
	user-select: none;
}

details .highlighter-rouge {
	margin-top: 10px !important;
}

.highlighter-rouge {
	padding: 0 15px;
	font-size: 80%;
	border: 2px solid #f1f1f1;
	overflow: auto;
}

.highlighter-rouge table,
.highlighter-rouge table td {
	border: 0 !important;
}

::selection {
	background: #ff0;
	color: #000;
}

::-moz-selection {
	background: #ff0;
	color: #000;
}

/* commenting */
#hcb_form_name,
#hcb_form_content {
	border: 2px solid #eee;
	padding: 10px;
	width: 300px;
	margin-bottom: 10px;
}

#hcb_submit {
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	appearance: none;
	font-weight: 600;
	padding: 7px 15px;
	font-size: 85%;
	display: inline-block;
	cursor: pointer;
	border-radius: 3px;
	background: #ccc;
	border: 2px solid transparent;
	width: auto;
	user-select: none;
	text-align: center;
	height: auto;
	margin-right: 20px;
}

@media only screen and (max-width:768px) {
	body {
		padding: 0 20px;
	}

	footer,
	header,
	nav {
		text-align: center;
	}

	.responsive-table {
		width: 100%;
		overflow: scroll;
	}
}

@media print {
	@page {
		margin: 2cm;
	}

	header,
	nav,
	.comments {
		display: none;
	}
}
