  <h2>Posts from blogs I follow around the net</h2>
  <ul>      <li>
        <div><a href="https://blog.regehr.org/archives/2485" target="_blank" rel="noopener">Why Do Peephole Optimizations Work?</a> — Embedded in Academia</div>
        <div>In its original form, a peephole optimization applied to a collection of instructions located close together in a program. For example, in a register transfer language we might find this sequence of instructions: r0 = xor r8, -1 r1 = xor r9, -1 r0 = and r0, r1 Here, assuming the two’s complement representation, -1 […]</div>
      </li>
      <li>
        <div><a href="https://www.neilhenning.dev/posts/github-apple-silicon/" target="_blank" rel="noopener">Updating GitHub repos to Apple Silicon</a> — Neil Henning</div>
        <div>I’ve updated my C/C++ open sources libraries utest.h, utf8.h, ubench.h, hashmap.h, subprocess.h, and json.h to use the new Apple Silicon GitHub CI runners. So how hard is it? Simple! You just add macos-14 to the build -> strategy -> matrix. I took the opportunity to drop macos-latest (which is still set to macos-13, th...</div>
      </li>
      <li>
        <div><a href="https://drewdevault.com/2023/12/26/2023-12-26-Prusa-is-floundering.html" target="_blank" rel="noopener">Why Prusa is floundering, and how you can avoid their fate</a> — Drew DeVault's blog</div>
        <div>Prusa is a 3D printer manufacturer which has a long history of being admired by the 3D printing community for high quality, open source printers. They have been struggling as of late, and came under criticism for making the firmware of their Mk4 printer non-free.1 Armin Ronacher uses Prusa as a case-study in why open s...</div>
      </li>
      <li>
        <div><a href="http://offbeatpursuit.com:80/blog/?id=31" target="_blank" rel="noopener">Sometimes you just have to</a> — WLOG - blog</div>
        <div>tags: random Continuing the previously discussed topic, of daring to be stupid for the sake of learning, sometimes you just have to do something for the sake of doing something. So why not a fictional calendar with 17 months, with names based on subatomic particles? Why? Why not? And while we’re at it, let’s try out so...</div>
      </li>
      <li>
        <div><a href="https://mirzapandzo.com/woocommerce-blocks-and-cart-and-order-item-name-filters-problems" target="_blank" rel="noopener">WooCommerce blocks and woocommerce_order_item_name and woocommerce_cart_item_name filter problems</a> — Mirza Pandzo&apos;s Blog</div>
        <div>Missing filters for cart and order item name in WooCommerce blocks</div>
      </li>
      <li>
        <div><a href="https://journal.valeriansaliou.name/deploy-a-nomad-cluster-on-alpine-linux-with-vultr/" target="_blank" rel="noopener">Deploy a Nomad Cluster on Alpine Linux with Vultr</a> — Valerian Saliou</div>
        <div>After spending countless hours trying to understand how to deploy my apps on Kubernetes for the first time to host Mirage, an AI API service that I run, I ended up making myself a promise that the next app I work on would be using a more productive & simpler</div>
      </li>
      <li>
        <div><a href="https://neil.computer/notes/chart-of-accounts-for-startups-and-saas-companies/" target="_blank" rel="noopener">Chart of Accounts for Startups and SaaS Companies</a> — Neil Panchal</div>
        <div>Accounting is fundamental to starting a business. You need to have a basic understanding of accounting principles and essential bookkeeping. I had to learn it. There was no choice. For filing taxes, your CPA is going to ask you for an Income Statement (also known as P/L statement). If</div>
      </li>
      <li>
        <div><a href="https://michael.stapelberg.ch/posts/2024-01-17-systemd-indefinite-service-restarts/" target="_blank" rel="noopener">systemd: enable indefinite service restarts</a> — Michael Stapelbergs Website</div>
        <div>When a service fails to start up enough times in a row, systemd gives up on it. On servers, this isn’t what I want — in general it’s helpful for automated recovery if daemons are restarted indefinitely. As long as you don’t have circular dependencies between services, all your services will eventually come up after tra...</div>
      </li>
      <li>
        <div><a href="https://utcc.utoronto.ca/~cks/space/blog/linux/MyMachineDesires2024" target="_blank" rel="noopener">What I&#39;d like in a hypothetical new desktop machine in 2024</a> — Chris&#39;s Wiki :: blog</div>
        <div>My current work desktop and home desktop are getting somewhat long in the tooth, which has caused me to periodically think about what I'd want in new hardware for them. Sometimes I even look at potential hardware choices for such a replacement desktop (which can lead to grumbling). Today I want to write down my ideal b...</div>
      </li>
      <li>
        <div><a href="https://szymonkaliski.com/newsletter/2024-01-01-q4-2023/" target="_blank" rel="noopener">Q4 2023 — Improving Replit's Console and a Database-y Creative Coding Environment</a> — Szymon Kaliski</div>
        <div>Hi, happy New Year! Tinyletter had an "incredible journey" moment recently, so if you're subscribed, you're receiving this through…</div>
      </li>
</ul>
