  <h2>Posts from blogs I follow around the net</h2>
  <ul>      <li>
        <div><a href="https://blog.regehr.org/archives/2485" target="_blank" rel="noopener">Why Do Peephole Optimizations Work?</a> — Embedded in Academia</div>
        <div>In its original form, a peephole optimization applied to a collection of instructions located close together in a program. For example, in a register transfer language we might find this sequence of instructions: r0 = xor r8, -1 r1 = xor r9, -1 r0 = and r0, r1 Here, assuming the two’s complement representation, -1 […]</div>
      </li>
      <li>
        <div><a href="https://www.neilhenning.dev/posts/how-long-to-compile-llvm-17-on-rpi/" target="_blank" rel="noopener">How long does it take to compile LLVM 17 on a Raspberry PI 4</a> — Neil Henning</div>
        <div>With the imminent launch of the Raspberry Pi 5 I wondered - how long does it take to compile the latest LLVM release (17 at the time of writing this blog) on the Raspberry Pi 4. This will give me a baseline that I can test the Raspberry Pi 5 against once I get ahold of it. For my initial exploration I decided to test j...</div>
      </li>
      <li>
        <div><a href="https://drewdevault.com/2023/11/09/Can-I-be-on-your-podcast.html" target="_blank" rel="noopener">Can I be on your podcast?</a> — Drew DeVault's blog</div>
        <div>I am working on rousing the Hare community to get the word out about our work. I have drafted the Hare evangelism guidelines to this effect, which summarizes how we want to see our community bringing Hare to more people. We&rsquo;d like to spread the word in a way which is respectful of the attention of others &ndash; ...</div>
      </li>
      <li>
        <div><a href="http://offbeatpursuit.com:80/blog/?id=27" target="_blank" rel="noopener">I just think this is neat</a> — WLOG - blog</div>
        <div>tags: plan9, random, zig Nothing profound here. But sometimes the internet collective can still be surprising. Apparently, you can already cross-compile Zig (at least the basic stuff) for plan9. Now this is fun! Also, a note to self more than anything: while zig itself is simple and quick to take in, the built-in build...</div>
      </li>
      <li>
        <div><a href="https://mirzapandzo.com/next-image-url-parameter-is-valid-but-upstream-response-is-invalid" target="_blank" rel="noopener">Next/Image &quot;url&quot; parameter is valid but upstream response is invalid</a> — Mirza Pandzo&apos;s Blog</div>
        <div>Getting "url" parameter is valid but upstream response is invalid error with Next/Image on WSL2</div>
      </li>
      <li>
        <div><a href="https://journal.valeriansaliou.name/deploy-a-nomad-cluster-on-alpine-linux-with-vultr/" target="_blank" rel="noopener">Deploy a Nomad Cluster on Alpine Linux with Vultr</a> — Valerian Saliou</div>
        <div>After spending countless hours trying to understand how to deploy my apps on Kubernetes for the first time to host Mirage, an AI API service that I run, I ended up making myself a promise that the next app I work on would be using a more productive & simpler</div>
      </li>
      <li>
        <div><a href="https://neil.computer/notes/chart-of-accounts-for-startups-and-saas-companies/" target="_blank" rel="noopener">Chart of Accounts for Startups and SaaS Companies</a> — Neil Panchal</div>
        <div>Accounting is fundamental to starting a business. You need to have a basic understanding of accounting principles and essential bookkeeping. I had to learn it. There was no choice. For filing taxes, your CPA is going to ask you for an Income Statement (also known as P/L statement). If</div>
      </li>
      <li>
        <div><a href="https://michael.stapelberg.ch/posts/2023-10-25-my-all-flash-zfs-network-storage-build/" target="_blank" rel="noopener">My 2023 all-flash ZFS NAS (Network Storage) build</a> — Michael Stapelbergs Website</div>
        <div>For over 10 years now, I run two self-built NAS (Network Storage) devices which serve media (currently via Jellyfin) and run daily backups of all my PCs and servers. In this article, I describe my goals, which hardware I picked for my new build (and why) and how I set it up. Design Goals I use my network storage device...</div>
      </li>
      <li>
        <div><a href="https://utcc.utoronto.ca/~cks/space/blog/python/ArgparseEncouragesOptions" target="_blank" rel="noopener">Using argparse in my Python programs encourages me to add options to them</a> — Chris&#39;s Wiki :: blog</div>
        <div>Today, for reasons outside the scope of this entry, I updated one of my very old little Python utilities to add some features and move it to Python 3 in the process. This program was so old it was using getopt, so as part of updating it I switched it over to argparse, which is what I use in all of my modern programs. T...</div>
      </li>
      <li>
        <div><a href="https://szymonkaliski.com/writing/2023-10-02-building-a-diy-pen-plotter/" target="_blank" rel="noopener">Building a DIY Pen Plotter</a> — Szymon Kaliski</div>
        <div>This article documents my learnings from designing and building a DIY Pen Plotter during the summer of 2023. My ultimate goal is to build my…</div>
      </li>
</ul>
