<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="theme-color" content="#ffffff">
    <meta name="generator" content="https://github.com/mitjafelicijan/staticgen">

    <title>Mitja Felicijan - Weekly links archive</title>

    <link rel="stylesheet" href="https://mitjafelicijan.com/static/style.css">
    <link rel="icon" type="image/png" href="https://mitjafelicijan.com/static/avatar-64x64.png">

  </head>

  <body>

    <main>

      <a href="/">⬅ Back home</a>

      <h2>Weekly links archive</h2>
      <ul class="article-list">
        {{#each files}}
          <li><a href="/weekly-links/{{ this.file }}">{{ this.year }}, {{ this.week }}</a></li>
        {{/each}}
      </ul>

    </main>

  </body>

</html>
