{{ define "main" }}
<main role="main">

  <!-- List of all blog posts -->
  <nav itemscope itemtype="https://schema.org/SiteNavigationElement" role="feed">
    <meta itemprop="name" content="Article list">
    {{ range (where .Site.RegularPages "Section" "posts") }}
    <article itemscope itemtype="http://schema.org/Article" style="padding-bottom:10px;">
      <time style="display:inline-block;width:70px">{{ .Date.Format "Jan 2006" }}</time>
      <a href="/{{ .Params.url }}" itemprop="url" rel="bookmark noopener" aria-label="Opens URL">
        {{ if .Params.draft }}
        <span style="background:orange">Draft</span>
        {{ end }}
        {{.Title}}
      </a>
    </article>
    {{ end }}
  </nav>

</main>
{{ end }}
