<div style="margin-bottom:20px;">
  <header style="display:flex;gap:10px;">
    <div>
      <a href="/" itemprop="url" style="color:firebrick">Mitja Felicijan</a>
    </div>

    <nav itemscope itemtype="http://schema.org/SiteNavigationElement" role="toolbar"  style="display:flex;gap:10px;">
      <meta itemprop="name" content="Main Menu">

      <a href="https://git.mitjafelicijan.com" target="_blank" rel="noopener nofollow" itemprop="url" style="color:darkgoldenrod">Git</a>
      <a href="https://files.mitjafelicijan.com" target="_blank" rel="noopener nofollow" itemprop="url" style="color:dodgerblue">Files</a>
      <a href="/curriculum-vitae.html" style="color:tomato">CV</a>
      <a href="/index.xml" itemprop="url" style="color:teal">RSS</a>
    </nav>
  </header>
</div>
