<section class="mb-10">
  <h2 class="text-2xl font-bold mb-6">Articles from blogs I follow around the net</h2>

  <section>
    
    <article class="mb-6">
      <a href="https://serokell.io/blog/haskell-in-production-e-bot7" target="_blank" rel="noopener" class="font-medium mb-1 hover:bg-yellow-100">Haskell in Production: e-bot7</a>
      <p class="mb-1 text-sm text-gray-600">In this edition of our Haskell in Production series, we feature e-bot7 – a low-code conversational AI platform designed for customer service and support. Read the i…</p>
      <div class="text-gray-500 font-medium text-xs">
        Via <a href="https://serokell.io/blog" class="underline">Serokell Blog</a> on December 12, 2022
      </div>
    </article>
    
    <article class="mb-6">
      <a href="https://danluu.com/elon-dave-chappelle/" target="_blank" rel="noopener" class="font-medium mb-1 hover:bg-yellow-100">Transcript of Elon Musk on stage with Dave Chapelle</a>
      <p class="mb-1 text-sm text-gray-600">This is a transcription of videos Elon Musk&#39;s appearance on stage with Dave Chapelle using OpenAI&#39;s Whisper model with some manual error corrections and ann…</p>
      <div class="text-gray-500 font-medium text-xs">
        Via <a href="https://danluu.com/atom/index.xml" class="underline">danluu.com</a> on December 11, 2022
      </div>
    </article>
    
    <article class="mb-6">
      <a href="https://www.jeffgeerling.com/blog/2022/1-million-watts-rf-how-fm-supertower-works" target="_blank" rel="noopener" class="font-medium mb-1 hover:bg-yellow-100">1 Million Watts of RF - how the FM Supertower works</a>
      <p class="mb-1 text-sm text-gray-600">1 Million Watts of RF - how the FM Supertower works

            As the son of a radio engineer, I&#39;ve seen my share of radio towers. From small, rural AM and FM t…</p>
      <div class="text-gray-500 font-medium text-xs">
        Via <a href="https://www.jeffgeerling.com/" class="underline">Jeff Geerling&#39;s Blog</a> on December 7, 2022
      </div>
    </article>
    
    <article class="mb-6">
      <a href="https://drewdevault.com/2022/12/01/I-shall-toil-quietly.html" target="_blank" rel="noopener" class="font-medium mb-1 hover:bg-yellow-100">I shall toil at a reduced volume</a>
      <p class="mb-1 text-sm text-gray-600">Over the last nine years I have written 300,000 words for this blog on the
topics which are important to me. I am not certain that I have much left to say.
I can keep…</p>
      <div class="text-gray-500 font-medium text-xs">
        Via <a href="https://drewdevault.com" class="underline">Drew DeVault&#39;s blog</a> on December 1, 2022
      </div>
    </article>
    
    <article class="mb-6">
      <a href="https://mirzapandzo.com/posts/elasticbeanstalk-php-settings-and-the-frustratingly-confusing-guide-to-eb-deploy/" target="_blank" rel="noopener" class="font-medium mb-1 hover:bg-yellow-100">ElasticBeanstalk, PHP settings and the frustratingly confusing guide to eb deploy</a>
      <p class="mb-1 text-sm text-gray-600">I&#39;ll be honest. I love using AWS. eb deploy is my go to command. The ElasticBeanstalk cloud ecosystem is amazing and I would find it hard to do my day job witho…</p>
      <div class="text-gray-500 font-medium text-xs">
        Via <a href="https://mirzapandzo.com/" class="underline">Mirza Pandzo</a> on November 1, 2022
      </div>
    </article>
    
    <article class="mb-6">
      <a href="https://cronokirby.com/posts/2022/10/dkgs-in-groups/" target="_blank" rel="noopener" class="font-medium mb-1 hover:bg-yellow-100">DKGs in Groups</a>
      <p class="mb-1 text-sm text-gray-600">This is a short post on distributed key generation (DKG)
in the context of cryptographic groups, such as elliptic curves.</p>
      <div class="text-gray-500 font-medium text-xs">
        Via <a href="https://cronokirby.com/posts/" class="underline">Posts on Cronokirby&#39;s Blog</a> on October 9, 2022
      </div>
    </article>
    
  </section>

  <p class="text-sm text-gray-500">
    <a href="https://git.sr.ht/~sircmpwn/openring" class="no-underline hover:underline">Generated with openring.</a>
  </p>
</section>
