<html>

  <head>
    <title></title>
  </head>

  <body style="background: #f2f2f2; padding: 60px; color: #222222; line-height: 22px; font-family: sans-serif, system-ui, -apple-system; font-size: 16px;">

    <div style="width: 650px; background: #ffffff; text-align: left; padding: 40px; margin: 0 auto; border-radius: 10px;">

      {{#each categories}}
        {{#each this.links}}
          <div style="margin-bottom: 30px;">
            <a href="{{this.url}}" style="color: #3252a8; font-weight: bold;">{{this.title}} ({{this.source}})</a>
            <div style="margin-block-start: 5px; font-size: 90%;">{{this.excerpt}}</div>
          </div>
        {{/each}}
      {{/each}}

    </div>

    <p style="text-align: center; font-size: 80%;">If you would like to stop receiving these emails reply to this email.</p>

  </body>

</html>
