{{ template "base.html" . }}

{{ define "content" }}

<section>
	<h2>Notes</h2>
	<table>
		<thead>
			<tr>
				<th>Date</th>
				<th>Title</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{{ range .Pages }}
				{{ if and (not .Draft) (eq .Type "note") }}
				<tr>
					<td><time datetime="{{ .Created.Format "2006-01-02" }}">{{ .Created.Format "2006-01-02" }}</time></td>
					<td><a href="{{ .RelPermalink }}">{{ .Title }}</a></td>
					<td class="tags">
						{{ if .Meta.tags }}
							{{ range .Meta.tags }}<mark>{{ . }}</mark>{{ end }}
						{{ end }}
					</td>
				</tr>
				{{ end }}
			{{ end }}
		</tbody>
	</table>
</section>

<section>
	<h2>Posts</h2>
	<table>
		<thead>
			<tr>
				<th>Date</th>
				<th>Title</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{{ range .Pages }}
				{{ if and (not .Draft) (eq .Type "post") }}
				<tr>
					<td><time datetime="{{ .Created.Format "2006-01-02" }}">{{ .Created.Format "2006-01-02" }}</time></td>
					<td><a href="{{ .RelPermalink }}">{{ .Title }}</a></td>
					<td class="tags">
						{{ if .Meta.tags }}
							{{ range .Meta.tags }}<mark>{{ . }}</mark>{{ end }}
						{{ end }}
					</td>
				</tr>
				{{ end }}
			{{ end }}
		</tbody>
	</table>
</section>

<section>
	<h2>Visualizations and exploration of binary files</h2>
	<a href="https://mitjafelicijan.github.io/binary-visualization/" target="_blank">
		<img src="/assets/general/trigraphs.gif" class="no-border">
	</a>
</section>
{{ end }}
