{{ template "base.html" . }}

{{ define "title" }}{{ .Page.Title }}{{ end }}
{{ define "description" }}{{ .Page.Summary }}{{ end }}

{{ define "content" }}

<article>
	<hgroup>
		<h1>{{ .Page.Title }}</h1>
		<p><span class="capitalize">{{ .Page.Type }}</span>, {{ .Page.Created.Format "Jan 2, 2006" }}, on <a href="{{ .Config.BaseURL }}">{{ .Config.Title }}'s blog</a></p>
	</hgroup>
	{{ .Page.HTML }}
</article>

<section>
	<h2>Other notes</h2>
	<nav class="multicolumn-list">
		{{ range .Pages | filterbytype "note" | random 12 }}
		{{ if not .Draft }}
		<a href="{{ .RelPermalink }}">{{ .Title }}</a>
		{{ end }}
		{{ end }}
	</nav>
</section>

{{ if .Page.Meta.mathjax }}
	<script src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js" async></script>
{{ end }}

{{ end }}
