{{ template "base.html" . }}

{{ define "title" }}{{ .Page.Title }}{{ end }}
{{ define "description" }}{{ .Page.Summary }}{{ end }}

{{ define "content" }}
<section>
  <h1>{{ .Page.Title }}</h1>
  <p><cap>{{ .Page.Type }}</cap>, {{ .Page.Created.Format "Jan 2, 2006" }}, on <a href="{{ .Config.BaseURL }}">{{ .Config.Title }}'s blog</a></p>
  <div>
    {{ .Page.HTML }}
  </div>
</section>

{{ if .Page.Meta.mathjax }}
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js" async></script>
{{ end }}

{{ end }}
