<!doctype html>
<html lang="en">

	<head>

		<meta charset="utf-8">

		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">

		<meta name="theme-color" content="#ff0ff0">
		<meta name="author" content="{{ site.author }}">
		<meta name="description" content="{{ site.description }}">

		<title>{{ page.title }}</title>

		<link rel="stylesheet" href="/assets/highlight.css?ver={{ site.cache_version }}" media="none" onload="if(media!='all')media='all'">
		<link rel="stylesheet" href="/assets/site.css?ver={{ site.cache_version }}" media="none" onload="if(media!='all')media='all'">

		<link rel="icon" type="image/gif" href="/{{ site.avatar }}?ver={{ site.cache_version }}">

		<meta name="og:url" content="https://mitjafelicijan.com">
		<meta name="og:type" content="website">
		<meta name="og:title" content="{{ site.title }}">
		<meta name="og:description" content="{{ page.description }}">
		<meta name="og:image" content="https://mitjafelicijan.com/{{ site.avatar }}?ver={{ site.cache_version }}">

		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="{{ site.twitter }}">
		<meta name="twitter:title" content="{{ site.title }}">
		<meta name="twitter:description" content="{{ site.description }}">
		<meta name="twitter:image" content="https://mitjafelicijan.com/{{ site.avatar }}?ver={{ site.cache_version }}">

		<style>{% include site.min.css %}</style>

	</head>

	<body>

		{% include header.html %}

		<main>

			{{ content }}

			<ul>
				{% for post in site.posts %}
				<li>
					<time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: '%A, %B %-d, %Y' }}</time>
					<div><a href="{{ post.url }}">{{ post.title }}</a></div>
				</li>
				{% endfor %}
			</ul>

		</main>

		{% include footer.html %}

	</body>

</html>
