<!doctype html>
<html lang="en">

	<head>

		<meta charset="utf-8">
		<meta name="theme-color" content="#000000">
		<meta name="description" content="{{ page.description }}">

		<title>{{ page.title }}</title>

		<style>{% include site.css %}</style>

	</head>

	<body>

		{% include header.html %}

		<main>

			<ul>
				{% for post in site.posts %}
				<li>
					{{ post.date | date: "%m/%d/%Y" }}
					<a href="{{ post.url }}">{{ post.title }}</a>
				</li>
				{% endfor %}
			</ul>
		</main>

		{% include footer.html %}

	</body>

</html>
