<!doctype html>
<html lang="en">

	<head>

		<meta charset="utf-8">

		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">

		<meta name="theme-color" content="#ff0ff0">
		<meta name="author" content="{{ site.author }}">
		<meta name="description" content="{{ page.description }}">

		<title>{{ page.title }}</title>

		<style>
			article,main, footer, nav, header { max-width: 700px; margin: 0 auto; }
		</style>

		<link rel="stylesheet" href="/assets/highlight.css?ver={{ site.cache_version }}" media="none" onload="if(media!='all')media='all'">
		<link rel="stylesheet" href="/assets/site.css?ver={{ site.cache_version }}" media="none" onload="if(media!='all')media='all'">

		<link rel="icon" type="image/gif" href="/{{ site.avatar }}?ver={{ site.cache_version }}">

		<meta name="og:url" content="https://mitjafelicijan.com/{{ page.slug }}">
		<meta name="og:type" content="website">
		<meta name="og:title" content="{{ page.title }}">
		<meta name="og:description" content="{{ page.description }}">
		<meta name="og:image" content="https://mitjafelicijan.com/{{ site.avatar }}?ver={{ site.cache_version }}">

		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="{{ site.twitter }}">
		<meta name="twitter:title" content="{{ page.title }}">
		<meta name="twitter:description" content="{{ page.description }}">
		<meta name="twitter:image" content="https://mitjafelicijan.com/{{ site.avatar }}?ver={{ site.cache_version }}">

	</head>

	<body>

		{% include header.html %}

		<article>

			<h1>{{ page.title }}</h1>

			{{ content }}

		</article>

		{% include footer.html %}

	</body>

</html>
