<!doctype html>
<html lang="en">

	<head>

		<meta charset="utf-8">

		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">

		<meta name="theme-color" content="#000000">
		<meta name="author" content="{{ site.author }}">
		<meta name="description" content="{{ page.description }}">

		<title>{{ page.title }}</title>

		<link rel="stylesheet" href="/assets/highlight.css">
		<link rel="stylesheet" href="/assets/site.css">

		<link rel="icon" type="image/jpeg" href="/assets/avatar.jpg">

	</head>

	<body>

		{% include header.html %}

		<article>

			<h1>{{ page.title }}</h1>

			<time datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: '%A, %B %-d, %Y' }}</time>

			{{ content }}

		</article>

		{% include footer.html %}

	</body>

</html>
