<h2>Experiments</h2>
<ul class="article-list">
{{ range .Site.Pages.Children "experiments/" }}
  <li>
    <div>
      <time>{{ template "date" .Date }}</time>
      <a href="{{ $.Rel .Url }}" title="{{ .Title }}">{{ .Title }}</a>
    </div>
  </li>
{{ end }}
</ul>

<h2>General notes</h2>
<ul class="article-list">
{{ range .Site.Pages.Children "notes/" }}
  <li>
    <time>{{ template "date" .Date }}</time>
    <a href="{{ $.Rel .Url }}" title="{{ .Title }}">{{ .Title }}</a>
  </li>
{{ end }}
</ul>
