<div class="container-blog">
  <header class="flex py-4 mt-4 mb-6">
    <h3 class="flex-grow">
      <a href="/" itemprop="url" class="text-xl font-bold hover:bg-yellow-200">Mitja Felicijan</a>
    </h3>

    <nav itemscope itemtype="http://schema.org/SiteNavigationElement" class="flex items-center gap-1">
      <meta itemprop="name" content="Main Menu">

      <a href="https://git.mitjafelicijan.com" target="_blank" rel="noopener nofollow" itemprop="url" class="font-medium px-2 hover:bg-yellow-200">Git</a>
      <a href="https://files.mitjafelicijan.com" target="_blank" rel="noopener nofollow" itemprop="url" class="font-medium px-2 hover:bg-yellow-200">Files</a>
      <a href="/curriculum-vitae.html" class="font-medium px-2 hover:bg-yellow-200">CV</a>
      <a href="/books.html" class="font-medium px-2 hover:bg-yellow-200">Books</a>

      <a href="/index.xml" itemprop="url" class="font-medium px-2 hover:bg-yellow-200">RSS</a>
    </nav>
  </header>
</div>
