<div class="container-blog mx-auto px-6 md:p-0">
  <header class="flex py-4 mt-4 mb-8 flex-col md:flex-row items-center ">
    <div class="flex-grow mb-2 md:mb-0">
      <a href="/" itemprop="url" class="text-xl font-semibold hover:bg-yellow-100">Mitja Felicijan</a>
    </div>

    <nav itemscope itemtype="http://schema.org/SiteNavigationElement" class="flex items-center gap-1" role="toolbar">
      <meta itemprop="name" content="Main Menu">

      <!-- Search button -->
      <span class="search-button flex gap-1 items-center text-gray-500 bg-gray-100 hover:bg-gray-200 rounded px-2 py-1 text-xs cursor-pointer mr-2 hidden" onclick="showSearchModal()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="w-4 h-4">
          <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
        </svg>
        <span class="search-button-text uppercase font-bold"></span>
      </span>

      <a href="/notes.html" class="font-medium px-2 hover:bg-yellow-100">Notes</a>
      <a href="https://telegram.me/mitjafelicijan" target="_blank" rel="noopener nofollow" itemprop="url" class="font-medium px-2 hover:bg-yellow-100">Telegram</a>
      <a href="https://git.mitjafelicijan.com" target="_blank" rel="noopener nofollow" itemprop="url" class="font-medium px-2 hover:bg-yellow-100">Git</a>
      <a href="https://files.mitjafelicijan.com" target="_blank" rel="noopener nofollow" itemprop="url" class="font-medium px-2 hover:bg-yellow-100 hidden md:block">Files</a>
      <a href="/mitjafelicijan.gpg.pub.txt" itemprop="url" class="font-medium px-2 hover:bg-yellow-100">GPG</a>
      <a href="/curriculum-vitae.html" class="font-medium px-2 hover:bg-yellow-100">CV</a>
      <a href="/index.xml" itemprop="url" class="font-medium px-2 hover:bg-yellow-100 hidden md:block">RSS</a>
    </nav>
  </header>
</div>
